body {
    overflow-x: hidden;
}

.parent {
    display: flex;
    flex-direction: column;
    height: 55vh;
    /* Ensure this matches your desired height */
}

.card {
    flex-grow: 1;
}

.card-body {
    overflow-y: auto;
    /* Allows vertical scrolling if content overflows */
    height: 100%;
}

.table{
    font-size: large;
}
